/* Estilo base */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.cadastro {
  background-color: #29abe2;
  height: 120vh;
  background-size: cover;
}

.titleCad {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 55px;
  margin-bottom: 5%;
  padding-top: 5%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  margin: 10px 15px;
  margin-top: -50px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
}

label {
  font-weight: normal;
  color: #fff;
  margin-bottom: 5px;
}

.input-text {
  padding: 8px;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  border: none;
  font-family: Helvetica;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.buttonCadastrar {
  font-size: 50px;
  width: 40%;
  height: 100px;
  color: #29abe2;
  background-color: #012d51;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: Helvetica;
}

.loading {
  color: #e2e2e2;
  background-color: #5e5f5f;
}

.error {
  color: red;
  background-color: #fff;
  margin-top: 5px;
  padding: 5px;
  width: 280px;
  border-radius: 6px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .input-container {
    margin: 10px 50px;
  }

  .titleCad {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5%;
    padding-top: 5%;
  }

  .buttonCadastrar {
    font-size: 30px;
    width: 60%;
    height: 60px;
  }

  .error {
    color: red;
    background-color: #fff;
    margin-top: 5px;
    padding: 5px;
    width: 257px;
    border-radius: 6px;
  }
}

button:hover {
  background-color: #ffffff;
}
