body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  background-image: url("/public/imgs/rodape-desktop.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto-Light;
}

.footer ul {
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  text-align: center;
  list-style-type: none;
}

.footer ul li {
  padding: 10px;
}

@media (max-width: 768px) {
  .footer {
    background-image: url("/public/imgs/rodape-mobile.jpg");
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    background-image: url("/public/imgs/rodape-mobile.jpg");
  }
}
