body {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Helvetica";
  src: url("/public/Fonts/HelveticaUltraLt_0.ttf") format("truetype");
}

@font-face {
  font-family: "ps";
  src: url("/public/Fonts/ps.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/public/Fonts/Roboto-Light_0.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("/public/Fonts/Roboto-Regular_0.ttf") format("truetype");
}
