body {
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "HelveticaUltraLt";
  src: url("/public//Fonts/HelveticaUltraLt_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
